// Custom Card Styling

.card-container{
  display: flex;
  
  .card{
    margin: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    
    .card-count-container{
      display: flex;
      align-items: center;
      overflow: hidden;
      width: 100%;
      height: 200px;
      padding: 20px 0px;
    }
    
    .card-count{
      font-weight: bold;
      font-size: 20px;
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin: auto;
      margin-right: -50px;
      padding-right: 45px;
      overflow: hidden;
      color: #ffffff;
      box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
      text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      transition: all 0.2s ease-in-out;
    }
    
    .card-content{
      padding: 20px;
      padding-top: 0px;
      
      > h2{
        margin-top: 0px;
        text-align: center;
      }
    }
    
    .card-footer{
      padding: 20px;
      color: #ffffff;
    }
    
    &:hover{
      .card-count{
        width: 130px;
        height: 130px;
      }
    }
  }
  
  .card-video{
    .card-count, .card-footer{
      background-image: linear-gradient(90deg, #f6671f, #c01b1c);
    }
  }

  .card-audio{
    .card-count, .card-footer{
      background-image: linear-gradient(90deg, #fec22f, #ea9826);
    }
  }

  .card-blog{
    .card-count, .card-footer{
      background-image: linear-gradient(90deg, #6fc6a9, #058ba9);
    }
  }

  .card-webapp{
    .card-count, .card-footer{
      background-image: linear-gradient(90deg, #bbc66f, #66a905);
    }
  }

  @media (max-width: 767px){
    flex-wrap: wrap;
  }
}
